.splitbutton {
  position: relative;
  display: flex;
  align-items: stretch;
  margin: 1em 0;
}

.in-group {
  margin: 0;
}

.splitbutton > button:hover {
  background: #3a89c8;
}

.in-group > button:hover,
.in-group > button:focus {
  border-color: #005a9c;
  background: rgb(226, 239, 255);
  color: #000;
}

.splitbutton > button:focus,
.compound .primary:focus + .menuTrigger {
  position: relative;
  box-shadow: 0 0 3px 3px #005a9c;
  outline: 2px solid transparent;
}

.splitbutton > button:focus {
  z-index: 1;
}

.primary {
  background-color: #0067b8;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
  color: #fff;
  padding: 0.75em 1em;
  font-size: 1em;
  font-weight: bold;
}

.menuTrigger {
  background-color: #0067b8;
  border: 1px solid #fff;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 1em;
  padding: 0.75em 0.5em;
}

.in-group .primary {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.42);
  color: #000;
  font-size: 0.75em;
  padding: 0.5em;
}

.in-group .primary[aria-pressed=true] {
  background: #0067b8;
  color: #fff;
}

.in-group .menuTrigger {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.42);
  border-left: 0;
  color: #000;
  font-size: 0.75em;
}

.open .menuTrigger {
  border-radius: 0 5px 0 0;
}

.menuTrigger::after {
  border-bottom: 1px solid currentColor;
  border-right: 1px solid currentColor;
  content: '';
  display: block;
  height: 0.5em;
  transform: translate(0, -20%) rotate(45deg);
  width: 0.5em;
  margin: 0.25em 0;
}

.menu {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.42);
  display: none;
  min-width: 100px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
}

.open .menu {
  display:  block;
}

.menuitem {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.42);
}

.menuitem:focus {
  background: #0067b8;
  color: #fff;
}

.visuallyHidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}