body {
  margin: 0;
  font-family: "Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
  line-height: 1.6;
  word-wrap: break-word;
}

.container {
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  overflow-x: auto;
  padding: 0 0 5em;
}

header {
  flex: 0 0 260px;
  background: #d7d7d7;
  border-right: 3px solid #28164a;
  min-height: 100%;
  padding: 1em;
}

@media screen and (max-width: 800px) {
  header {
    border-bottom:3px solid #28164a;
    border-right:none;
    margin-bottom:1.5rem
  }

  .container {
    display: block;
  }
}

.panel {
  padding: 1em 1em 3em 2.5em; 
}

.logo {
  display: block;
  width: 80%;
  max-width: 150px;
  margin: 1em auto;
}

.site-title {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
}

.nav {
  list-style-type: none;
  padding-left: 0;
}

.nav a {
  font-weight: bold;
  color: #004981;
}

.water-level {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  font-size: 2em;
  background-color: #004981;
  color: #FFF;
}

.form-announcement.error {
  background-color: rgba(250,190,190,.5);
  border: 1px solid rgba(121,35,35,.5);
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 16px 24px;
}

.form-announcement.success {
  background-color: rgba(190,250,220,.5);
  border: 1px solid rgba(17,61,58,.5);
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 16px 24px;
}
