.toolbar {
  display: flex;
  align-items: center;
  padding: 0.25em;
  border: 2px solid transparent;
  border-radius: 5px;
  background: #ececea;
}

.toolbar-group {
  display: flex;
  margin: 0 0.5em;
}